body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #050b16;
    color: #ffffff;
    overflow-x: hidden;
}
.hero-bg {
    background-image: linear-gradient(rgba(0, 20, 60, 0.25), rgba(5, 11, 22, 0.25)), url(hero.jpg.png);
    background-size: cover;
    background-position: center;
}